{% extends 'base.html' %}

{% block content %}
<div class="my-1 list-group-item list-group-item-action">
    <h3>{% trans %}Come si usa Strava Heatmap Generator?{% endtrans %}</h3>
    <p>
        {% trans %}
        Usa il riquadro blu <b>Genera Heatmap</b> per scaricare la heatmap (la mappa di colore <b>hot</b> contiene i dati più aggiornati).
        {% endtrans %}
    </p>
</div>

<div class="my-1 list-group-item list-group-item-action">
    <p>
    {% trans %}Importa il file in Cartograph Maps:{% endtrans %}
    <small>
        <ul class="list-group">
        <li class="list-group-item list-group-item-action">{% trans %}Se sei su <b>computer</b>: trascina e rilascia il file sopra la finestra di Cartograph Maps.{% endtrans %}</li>
        <li class="list-group-item list-group-item-action">{% trans %}Se sei su <b>smartphone/tablet</b>: clicca sul file per aprirlo in Cartograph Maps. 
            Se non dovesse aprirsi automaticamente, seleziona <b>Apri in</b> Cartograph Maps.{% endtrans %}</li>
        </ul>
    </small>
    </p>
</div>

<div class="my-1 list-group-item list-group-item-action">
    <p>
    {% trans %}Vai nella sezione <b>mappe online</b> di Cartograph Maps. Clicca sull'occhio accanto a una delle quattro versioni di Strava Heatmap:{% endtrans %}
    <small>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">{% trans %}<b>Strava Heatmap (all)</b>: mostra i dati di tutte le attività caricate su Strava{% endtrans %}</li>
            <li class="list-group-item list-group-item-action">{% trans %}<b>Strava Heatmap (ride)</b>: mostra i dati delle attività in bici{% endtrans %}</li>
            <li class="list-group-item list-group-item-action">{% trans %}<b>Strava Heatmap (run)</b>: mostra i dati di corse e escursioni{% endtrans %}</li>
            <li class="list-group-item list-group-item-action">{% trans %}<b>Strava Heatmap (winter)</b>: mostra i dati delle attività invernali come sci e ciaspole{% endtrans %}</li>
        </ul>
    </small>
    </p>
    <p>
    {% trans %}Clicca sul pulsante <b>APPEND</b> e regola la trasparenza.{% endtrans %}
    </p>
    <div class="bg-warning m-2 p-1 px-2">
    <small>{% trans %}Per sovrapporre (append) Strava Heatmap a un'altra mappa serve la versione a pagamento di Cartograph Maps.{% endtrans %}</small>
    </div> 
    <div class="bg-warning m-2 p-1 px-2">
    <small>
        {% trans %}
        Dopo un certo numero di giorni, Strava Heatmap scade e non sarà più visualizzata in Cartograph Maps. 
        Dovrai quindi rigenerarla e ricaricarla in Cartograph Maps. Ti conviene cacellare le vecchie versioni 
        prima di importare la nuova.
        {% endtrans %}
    </small>
    </div>
    <figure class="figure mx-5 p-4">
        <img src="{{ url_for('static', filename='load.png')}}" class="img-fluid rounded-3" alt="OpenAndroMaps">
        <figcaption class="figure-caption">{% trans %}Caricare una Strava Heatmap{% endtrans %}</figcaption>
    </figure>    
</div>
{% endblock %}
